{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
        <img src="{{ x.author.profile.image.url }}" class="rounded-circle">
    {% for x in posts %}
    <h2>
        <a href="{% url 'post-detail' x.id %}" class="article-title">{{ x.caption }}</a>
    </h2>
   
    <img src="{{ x.image.url }}"  class="one rounded-circle">
    <p>{{ x.user }}</p>
    <p>{{ x.date_posted|timesince}}</p>  
    <!-- # date:"F d, Y" -->
    <p>{{ x.caption }}</p>
    {% endfor %}
</div>

{% endblock %}